@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-comfortaa);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-comfortaa), sans-serif;
}

@layer utilities {
  .text-primary {
    font-size: 1.25rem; /* text-xl */
    font-weight: 400;   /* font-normal */
    letter-spacing: 0.025em; /* tracking-wide */
  }

  .text-secondary {
    font-size: 1rem;    /* text-base */
    font-weight: 400;   /* font-normal */
    letter-spacing: 0.025em; /* tracking-wide */
    color: #64748b;     /* text-slate-500 */
  }
}
